#root {
  min-height: 100vh;
  width: 100%;
  color: #000;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;
}

.h1{
  font-family: system-ui, Arial, sans-serif;
  font-size: 3.4em;
}